.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  font-weight: bold;
  padding: 6px;
}

.scrolling-line {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.stop {
  margin: 0 1em;
}
